{% extends 'main/layout/base.html' %} 

{% block sidebar %}{% endblock sidebar %} <!-- overridden so does not display sidebar -->

{% load custom_templatetags %}

{% block content %}
    <div class="mt-3 px-3">
        <h1 class="">Hello, 
            <span style="color:#00a19c">
                {{request.user.first_name}} {{request.user.last_name}}
            </span>
        </h1>
    </div>
    
    {% comment %} Action metrics {% endcomment %}
    <div class="my-4 d-flex flex-row">
        {% for key,value in metrics.items %}
            <div class="shadow rounded py-4 px-5 me-4 text-center bg-white">
                <div class="fw-semibold fs-3">
                    {{value}}
                </div>
                <div class="action-items-title">
                    {{ key|format_card_title }}
                </div>
            </div>
        
        {% endfor %}
    </div>


    <div class="my-5"> 
        <table id="table-candidates" class="table table-hover bg-white rounded" width="100%">
            <thead>
                <tr>
                    {% comment %} <th scope="col">Id</th> {% endcomment %}
                    <th scope="col">Name</th>
                    <th scope="col">Date</th>
                    <th scope="col">Source</th>
                    <th scope="col">GPT Recommendation</th>
                    <th scope="col">Initial Screening</th>
                    <th scope="col">Pre-assessment</th>
                    <th scope="col">CBI Assessment</th>
                    <th scope="col">Overall Status</th>
                </tr>

                <tr>
                    {% comment %} <th class="table-filter-wrapper"></th> {% endcomment %}
                    <th class="table-filter-wrapper">
                        <input type="text" class="form-control table-filter" placeholder="Filter Name">
                    </th>
                    <th class="table-filter-wrapper">
                        <input type="date" class="form-control table-filter" placeholder="Filter Date">
                    </th>
                    <th class="table-filter-wrapper">
                        <select name="source" id="" class="form-select table-filter">
                            <option class="table-filter-none" value="">Filter</option>
                            {% for source in source %}
                                <option value="{{source.id}}">{{source.source|title}}</option>
                            {% endfor %}
                        </select>
                    </th>
                    <th class="table-filter-wrapper">
                        <select name="gpt_status" id="" class="form-select table-filter">
                            <option class="table-filter-none" value="">Filter</option>
                            {% for status in statuses.gpt_status %}
                                <option value="{{status.codename}}">{{status.status|title}}</option>
                            {% endfor %}
                        </select>
                    </th>
                    <th class="table-filter-wrapper">
                        <select name="initscreening_status" id="" class="form-select table-filter">
                            <option class="table-filter-none" value="">Filter</option>
                            {% for status in statuses.initscreening %}
                                <option value="{{status.codename}}">{{status.status|title}}</option>
                            {% endfor %}
                        </select>
                    </th>
                    <th class="table-filter-wrapper">
                        <select name="prescreening_status" id="" class="form-select table-filter">
                            <option class="table-filter-none" value="">Filter</option>
                            {% for status in statuses.prescreening %}
                                <option value="{{status.codename}}">{{status.status|title}}</option>
                            {% endfor %}
                        </select>
                    </th>
                    <th class="table-filter-wrapper">
                        <select name="cbi_status" id="" class="form-select table-filter">
                            <option class="table-filter-none" value="">Filter</option>
                            {% for status in statuses.cbi %}
                                <option value="{{status.codename}}">{{status.status|title}}</option>
                            {% endfor %}
                        </select>
                    </th>
                    <th class="table-filter-wrapper">
                        <select name="overall_status" id="" class="form-select table-filter">
                            <option class="table-filter-none" value="">Filter</option>
                            {% for status in statuses.overall_status %}
                                <option value="{{status.codename}}">{{status.status|title}}</option>
                            {% endfor %}
                        </select>
                    </th>
                </tr>
            </thead>
        </table>

    </div>
    
    <!-- Modal -->
    <div class="modal fade" id="uploadResumeModal" tabindex="-1" aria-labelledby="uploadResumeModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <h1 class="modal-title fs-5 text-capitalize" id="uploadResumeModalLabel">upload resumes</h1>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <div id="upload-resumes-wrapper" class="card text-center p-3">
                        <div class="card-title fw-semibold" style="font-size: 0.95rem;">Upload Resumes</div>
                        <!-- upload resumes container -->
                        <div class="card-body">
                            <!-- no uploaded file alert -->
                            <div class="alert alert-danger alert-dismissible fade show d-none" role="alert" style="
                                font-size:0.8rem;
                                --bs-alert-padding-x: 0.5rem;
                                --bs-alert-padding-y: 0.5rem;
                            ">
                                No files are chosen yet! Please choose file(s) before uploading.
                                <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close" style="
                                    padding: 0.7rem 1rem;
                                "></button>
                            </div>
                            
                            <!-- upload file content -->
                            <div id="upload-resumes-content" class="mb-4" style="font-size:0.85rem;max-height:30vh;overflow-y:auto">
                                <!-- no files (template) -->
                                <div id="upload-resumes-alert" class="text-secondary">Drag and drop files here <span class="fst-italic">OR</span></div>
                                
                                <!-- files available (template) -->
                                <div id="upload-resumes-item-wrapper" class="d-flex flex-wrap justify-content-center gap-2">
                                    {% comment %} <div class="upload-resumes-item d-flex align-items-center gap-1" style="width:calc(600px/4)">
                                        <div class="file-name-ellipsis">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Harum quas perspiciatis rerum cum, quo inventore libero deserunt a modi ex quia illo est, aspernatur omnis enim ullam dolorum debitis nobis?</div>
                                        <button class="btn btn-sm"><i class="fa-solid fa-trash"></i></button>
                                    </div> {% endcomment %}
                                </div>                                
                            </div>

                            <!-- upload resumes buttons -->
                            <form id="upload-resume-form" action="{% url 'main:candidate.resume.create' %}" method="post" enctype="multipart/form-data">
                                <div class="d-flex justify-content-center gap-3">
                                    <div>
                                        <input id="upload-resumes-input" name="submission" class="invisible position-absolute" type="file" multiple accept="pdf" />
                                        <label class="btn btn-sm btn-success btn-theme" for="upload-resumes-input">Choose file(s)</label>
                                    </div>
                                    <button type="submit" class="btn btn-primary btn-sm" disabled>Upload</button>
                                    <button type="button" class="btn btn-danger btn-sm d-none">Clear All</button>
                                </div>
                            </form>

                        </div>
                    </div>
                </div>

                {% comment %} <div class="modal-footer">
                    <button type="button" class="btn btn-sm btn-secondary" data-bs-dismiss="modal">Cancel</button>
                    <button type="button" class="btn btn-sm btn-primary">Save changes</button>
                </div> {% endcomment %}

            </div>
        </div>
    </div>

{% endblock content %} 

{% block import_css %}

    <link href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/5.2.0/css/bootstrap.min.css" rel="stylesheet" />
    <link href="https://cdn.datatables.net/1.13.4/css/dataTables.bootstrap5.min.css" rel="stylesheet" />
    <link href="https://cdn.datatables.net/fixedheader/3.3.2/css/fixedHeader.bootstrap5.min.css" rel="stylesheet" />
    <link href="https://cdn.datatables.net/responsive/2.4.1/css/responsive.bootstrap5.min.css" rel="stylesheet" />
    <link href="https://cdn.datatables.net/select/1.6.2/css/select.dataTables.min.css" rel="stylesheet" />
    <link href="https://cdn.datatables.net/buttons/2.3.6/css/buttons.bootstrap5.min.css" rel="stylesheet" />

{% endblock import_css %} 

{% block import_scripts %}

    <script src="https://code.jquery.com/jquery-3.5.1.js"></script>
    <script src="https://cdn.datatables.net/1.13.4/js/jquery.dataTables.min.js"></script>
    <script src="https://cdn.datatables.net/1.13.4/js/dataTables.bootstrap5.min.js"></script>
    <script src="https://cdn.datatables.net/fixedheader/3.3.2/js/dataTables.fixedHeader.min.js"></script>
    <script src="https://cdn.datatables.net/responsive/2.4.1/js/dataTables.responsive.min.js"></script>
    <script src="https://cdn.datatables.net/responsive/2.4.1/js/responsive.bootstrap5.min.js"></script>
    <script src="https://cdn.datatables.net/select/1.6.2/js/dataTables.select.min.js"></script>
    <script src="https://cdn.datatables.net/buttons/2.3.6/js/dataTables.buttons.min.js"></script>
    <script src="https://cdn.datatables.net/buttons/2.3.6/js/buttons.bootstrap5.min.js"></script>

    {% load static %}
    <script src="{% static 'main/js/browse.js' %}"></script>
    <script>
        const statuses_initscreening = {{statuses.initscreening|safe}}
        const statuses_prescreening = {{statuses.prescreening|safe}}
        const statuses_cbi = {{statuses.cbi|safe}}

        const initscreening_update_url = "{% url 'main:initscreening.update' %}"
        const prescreening_update_url = "{% url 'main:prescreening.update' %}"
        const cbi_update_url = "{% url 'main:cbi.update' %}"
    </script>


{% endblock import_scripts %}
