{% extends 'main/layout/stage.html' %}

{% block tabtitle %}Initial Screening{% endblock tabtitle %}

{% block page_title %}Initial Screening{% endblock page_title %}

{% load custom_filters %}
{% comment %} {% load custom_tags %} {% endcomment %}

{% block stage_content %}

<div class="accordion-item">
    <h2 class="accordion-header">
        <button
            class="accordion-button accordion-btn-theme fw-semibold"
            type="button"
            data-bs-toggle="collapse"
            data-bs-target="#initialscreening-section"
            aria-expanded="false"
            aria-controls="initialscreening-section"
        >
            Selection
        </button>
    </h2>
    <div
        id="initialscreening-section"
        class="accordion-collapse collapse show"
    >
        <div class="accordion-body">
            <!-- initial screening content starts here-->
            <div class="row mb-4">

                <!-- Pending decision -->
                <div class="
                    {% if ds_leads|any_ds_leads:None %}
                        {% if ds_leads|any_ds_leads:True and ds_leads|any_ds_leads:False %}
                        col-5
                        {% else %}
                            {% if ds_leads|any_ds_leads:True or ds_leads|any_ds_leads:False %}
                            col-8 {% comment %} single bool {% endcomment %}
                            {% else %}
                            col-12 {% comment %} no evaluation {% endcomment %}
                            {% endif %}
                        {% endif %}
                    {% else %}
                    d-none
                    {% endif %}
                "
                >

                    <form 
                        id="initialscreening-eval-form" 
                        method="POST"
                        data-initial-screening-id={{initial_screening.pk}}
                        action={% url 'main:initscreening.evaluation.create' %}
                    >
                        
                        {% comment %} {% csrf_token %} {% endcomment %}
                        <div class="fw-medium mb-3" style="">Pending decision</div>
                        <div class="mb-3">
                            <!-- checkbox for list of leads -->
                            <div id="eval-leads-none-wrapper" class="d-flex flex-wrap gap-2">
                                {% for lead in ds_leads %}
                                    {% if lead.eval_is_proceed == None %}
                                        {% show_pending_lead lead %}
                                    {% endif %}
                                {% endfor %}
                            </div>
                        </div>
                        
                        <!-- proceed/reject buttons -->                    
                        <div class="d-flex align-items-end flex-column">
                            <div>
                                <small class="d-block text-body-secondary mb-1" style="font-size: 0.75rem;">Applies to selected leads</small>
                                <div class="d-flex gap-2">
                                    <button name="eval-submit" id="eval-proceed" class="btn btn-success btn-theme btn-evaluation text-capitalize" type="submit" value="1">
                                        <span class="me-1"><i class="fa-solid fa-check"></i></span>
                                        proceed
                                    </button>
                                    <button name="eval-submit" id="eval-reject" class="btn btn-danger btn-evaluation text-capitalize" type="submit" value="0">
                                        <span class="me-1"><i class="fa-solid fa-xmark"></i></span>
                                        reject
                                    </button>
                                </div>
                            </div>
                        </div> <!-- end proceed/reject buttons -->

                    </form>

                </div> <!-- end pending decision -->


                <!-- Evaluation Results -->
                <div class="
                    {% if ds_leads|all_ds_leads:None %}
                    d-none
                    {% else %}
                        {% if ds_leads|any_ds_leads:None %}
                            {% if ds_leads|any_ds_leads:True and ds_leads|any_ds_leads:False %}
                            col-7
                            {% else %}
                            col-4 {% comment %} single bool {% endcomment %}
                            {% endif %}
                        {% else %}
                        col-12
                        {% endif %}
                        
                    {% endif %}
                ">

                    <form
                        id="initialscreening-del-eval-form" 
                        method="POST"
                        data-initial-screening-id={{initial_screening.pk}}
                        action={% url 'main:initscreening.evaluation.delete' %}
                    >
                
                        <div class="fw-medium mb-3" style="">Evaluation Results</div>
                        <div id="evaluation-wrapper" class="d-flex gap-3" style='font-size: 0.9rem;'>
                            
                            {% if ds_leads|any_ds_leads:True %}
                                <div id="eval-leads-true-wrapper" class="flex-fill">
                                    {% for lead in ds_leads %}
                                        {% if lead.eval_is_proceed %}
                                            {% show_eval_lead lead %}
                                        {% endif %}
                                    {% endfor %}
                                </div>
                            {% endif %}
                            {% if ds_leads|any_ds_leads:False %}
                                <div id="eval-leads-false-wrapper" class="flex-fill">
                                    {% for lead in ds_leads %}
                                        {% if lead.eval_is_proceed == False %}
                                            {% comment %} {% include 'main/components/initscreening/eval_label_leads.html' with lead=lead %} {% endcomment %}
                                            {% show_eval_lead lead %}
                                        {% endif %}
                                    {% endfor %}
                                </div>
                            {% endif %}
                        </div>

                    </form>

                </div> <!-- end evaluation results -->

            </div>

            {% if ds_leads|any_ds_leads:False %}{% endif %}
                        
            
            <div class="row">
                <!-- final selection -->
                <div class="col-5">
                    <div class="fw-medium mb-3" style="">Final Decision</div>
                    <div class="d-flex align-items-center section-child-text">
                        <div class="me-5">Selection</div>
                        <div class="d-flex align-items-center gap-3">
                            <div class="fw-semibold text-success">
                                <span style='font-size: 0.93rem;' class="
                                        badge rounded-pill
                                        {% if lead.eval_is_proceed %}
                                            text-bg-success
                                        {% else %}
                                            text-bg-danger
                                        {% endif %} 
                                    ">Not proceed
                                </span>
                            </div>
                            <!-- edit final status button -->
                            <button type="submit" name="result-edit" name="result-edit" class="btn btn-sm text-secondary"  style="font-size: 1.2rem;">
                                <i class="fa-regular fa-pen-to-square"></i>
                            </button>
                        </div>
                    </div>
                </div>

                <div class="col-7">
                    <div class="fw-medium mb-3" style="">Remarks</div>
                    <div>
                        <small class="d-block text-body-secondary mb-2" style="font-size: 0.75rem;">If any, please fill in the below field.</small>
                        <textarea type="text" name="initialscreening-remark" id="initialscreening-remark" class="form-control remarks" rows="3" placeholder="Input remarks here"></textarea>
                    </div>
                </div>
            </div>
            
        </div>
    </div>
</div>

{% comment %} <pre>{{sidebar|pprint}}</pre> {% endcomment %}

{% endblock stage_content %}

{% load static %}

{% block import_scripts %}
<script src="https://code.jquery.com/jquery-3.5.1.js"></script>
<script>
    const eval_create_url = "{% url 'main:initscreening.evaluation.create' %}"
    const initial_screening_id = "{{initial_screening.pk}}"
    const csrf_token = "{{ csrf_token }}"
</script>
<script src="{% static 'main/js/initscreening.js' %}"></script>
{% endblock import_scripts %}

{% block next_stage_rej_title %}Reject{% endblock next_stage_rej_title %}
{% block next_stage_proc_title %}Proceed <span class="text-lowercase">to</span> Prescreening{% endblock next_stage_proc_title %}