{% extends 'main/layout/stage.html' %}

{% block tabtitle %}Initial Screening{% endblock tabtitle %}

{% block page_title %}Initial Screening{% endblock page_title %}

{% load custom_templatetags %}


{% block stage_content %}

{% comment %} {% with initial_screening.is_hm_proceed=False %} <!-- temporary variable for testing --> {% endcomment %}

<!--  hiring manager screening section -->
<div class="accordion-item">
    <h2 class="accordion-header">
        <button
            class="accordion-button accordion-btn-theme fw-semibold"
            type="button"
            data-bs-toggle="collapse"
            data-bs-target="#initialscreening-hiring-manager-section"
            aria-expanded="false"
            aria-controls="initialscreening-hiring-manager-section"
        >
            Hiring Manager Screening
        </button>
    </h2>
    <div
        id="initialscreening-hiring-manager-section"
        class="accordion-collapse collapse show"
    >
        <div class="accordion-body">
            <!-- hiring manager screening content starts here-->
            <div class="fw-medium mb-3">
                Decision
            </div>

            {% if initial_screening.is_hm_proceed != None %}
                {% url 'main:initscreening.hiring.update' as hm_form_action %}
                {% show_status_editable_field form_action=hm_form_action stage_id=initial_screening.pk stage_name="initial_screening" attr_name="hiring_manager_status" is_proceed=initial_screening.is_hm_proceed proceed_label="Selected" reject_label="Not selected" %}
            {% else %}

            <div class="d-flex align-itemms-center" style="font-size:0.9rem;">
                <div class="me-5">Status</div>
                
                <div>
                    <div style="font-size: 0.9rem;" class="badge rounded-pill fw-semibold text-capitalize mb-2 {% if initial_screening.is_hm_proceed %}text-bg-success{% else %}{% if initial_screening.is_hm_proceed == False %}text-bg-danger {% else %} text-bg-secondary {% endif %} {% endif %}">
                        {% if initial_screening.is_hm_proceed %}Selected{% else %}{% if initial_screening.is_hm_proceed == False %}Not selected{% else %}Pending{% endif %} {% endif %}
                    </div>
                    <div class="text-muted" style="font-size:0.75rem">
                        <span class="me-1"><i class="fa-sharp fa-solid fa-circle-info"></i></span>
                        Make decision in the bottom right below
                    </div>
                </div>
                
            </div>
            {% endif %}
            
        </div>
    </div>
</div>


{% if initial_screening.is_hm_proceed %} <!-- shows ds leads screening if the hiring manager screening pass -->

<!--  ds lead screening section -->
<div class="accordion-item">
    <h2 class="accordion-header">
        <button
            class="accordion-button accordion-btn-theme fw-semibold"
            type="button"
            data-bs-toggle="collapse"
            data-bs-target="#initialscreening-ds-leads-section"
            aria-expanded="false"
            aria-controls="initialscreening-ds-leads-section"
        >
            DS Lead Screening
        </button>
    </h2>
    <div
        id="initialscreening-ds-leads-section"
        class="accordion-collapse collapse show"
    >
        <div class="accordion-body">
            <!-- ds lead screening content starts here-->
            <div class="row mb-4">

                <!-- Pending decision -->
                <div id="leads-pending-container" class="
                    {% if ds_leads|any_ds_leads:None %}
                        {% if ds_leads|any_ds_leads:True and ds_leads|any_ds_leads:False %}
                        col-5
                        {% else %}
                            {% if ds_leads|any_ds_leads:True or ds_leads|any_ds_leads:False %}
                            col-8 {% comment %} single bool {% endcomment %}
                            {% else %}
                            col-12 {% comment %} no evaluation {% endcomment %}
                            {% endif %}
                        {% endif %}
                    {% else %}
                    d-none
                    {% endif %}
                "
                >

                    <form 
                        id="initialscreening-eval-form" 
                        method="POST"
                        data-initial-screening-id={{initial_screening.pk}}
                        action={% url 'main:initscreening.evaluation.create' %}
                    >
                        
                        {% comment %} {% csrf_token %} {% endcomment %}
                        <div class="fw-medium mb-3" style="">Pending decision</div>
                        <div class="mb-3">
                            <!-- checkbox for list of leads -->
                            <div id="eval-leads-none-wrapper" class="d-flex flex-wrap gap-2">
                                {% for lead in ds_leads %}
                                    {% if lead.eval_is_proceed == None %}
                                        {% show_pending_lead lead %}
                                    {% endif %}
                                {% endfor %}
                            </div>
                        </div>
                        
                        <!-- proceed/reject buttons -->                    
                        <div class="d-flex align-items-end flex-column">
                            <div>
                                <small class="d-block text-body-secondary mb-1" style="font-size: 0.75rem;">Applies to selected leads</small>
                                <div class="d-flex gap-2">
                                    <button name="eval-submit" id="eval-proceed" class="btn btn-success btn-theme btn-evaluation text-capitalize" type="submit" value="1">
                                        <span class="me-1"><i class="fa-solid fa-check"></i></span>
                                        proceed
                                    </button>
                                    <button name="eval-submit" id="eval-reject" class="btn btn-danger btn-evaluation text-capitalize" type="submit" value="0">
                                        <span class="me-1"><i class="fa-solid fa-xmark"></i></span>
                                        reject
                                    </button>
                                </div>
                            </div>
                        </div> <!-- end proceed/reject buttons -->

                    </form>

                </div> <!-- end pending decision -->


                <!-- Evaluation Results -->
                <div id="leads-evaluated-container" class="
                    {% if ds_leads|all_ds_leads:None %}
                    d-none
                    {% else %}
                        {% if ds_leads|any_ds_leads:None %}
                            {% if ds_leads|any_ds_leads:True and ds_leads|any_ds_leads:False %}
                            col-7
                            {% else %}
                            col-4 {% comment %} single bool {% endcomment %}
                            {% endif %}
                        {% else %}
                        col-12
                        {% endif %}
                        
                    {% endif %}
                ">

                    <form
                        id="initialscreening-del-eval-form" 
                        method="POST"
                        data-initial-screening-id={{initial_screening.pk}}
                        action={% url 'main:initscreening.evaluation.delete' %}
                    >
                
                        <div class="fw-medium mb-3" style="">Evaluation Results</div>
                        <div id="eval-leads-wrapper" class="d-flex" style='font-size: 0.9rem;'>
                            
                            {% if ds_leads|any_ds_leads:True %}
                                <div id="eval-leads-true-wrapper" class="flex-fill me-2">
                                    {% for lead in ds_leads %}
                                        {% if lead.eval_is_proceed %}
                                            {% show_eval_lead lead %}
                                        {% endif %}
                                    {% endfor %}
                                </div>
                            {% endif %}
                            {% if ds_leads|any_ds_leads:False %}
                                <div id="eval-leads-false-wrapper" class="flex-fill">
                                    {% for lead in ds_leads %}
                                        {% if lead.eval_is_proceed == False %}
                                            {% comment %} {% include 'main/components/initscreening/eval_label_leads.html' with lead=lead %} {% endcomment %}
                                            {% show_eval_lead lead %}
                                        {% endif %}
                                    {% endfor %}
                                </div>
                            {% endif %}
                        
                        </div>

                    </form>

                </div> <!-- end evaluation results -->

            </div>

            {% comment %} <hr> {% endcomment %}
            
        </div>
    </div>
</div>

<!--  final decision section -->
<div class="accordion-item">
    <h2 class="accordion-header">
        <button
            class="accordion-button accordion-btn-theme fw-semibold"
            type="button"
            data-bs-toggle="collapse"
            data-bs-target="#final-decision-section"
            aria-expanded="false"
            aria-controls="final-decision-section"
        >
            Final Decision
        </button>
    </h2>
    <div
        id="final-decision-section"
        class="accordion-collapse collapse show"
    >
        <div class="accordion-body">
            <!-- final decision content starts here-->
            <div class="d-flex">
                <!-- final selection -->
                {% if initial_screening.is_proceed != None %}
                <div class="col-7">
                    <div class="fw-medium mb-3" style="">Final Decision</div>
                    
                    {% show_status_editable_field attr_name="final_status" is_proceed=initial_screening.is_proceed label="Selection" proceed_label="Selected" reject_label="Not selected" %}

                </div>
                {% endif %}
                
                <!-- remarks -->
                <div class="col-5">

                    <div class="fw-medium mb-3" style="">Remarks</div>
                    <div>
                        <small class="d-block text-body-secondary mb-2" style="font-size: 0.75rem;">If any, please fill in the below field.</small>
                        <textarea type="text" name="initialscreening-remark" id="initialscreening-remark" class="form-control remarks" rows="3" placeholder="Input remarks here"></textarea>
                    </div>

                </div>
            </div>            
        </div>
    </div>
</div>

{% endif %}

{% comment %} {% endwith %} <!-- end temporary variable --> {% endcomment %}


{% endblock stage_content %}


<!-- next stage decision -->

<!-- pass child variable 'next_stage_is_proceed' to parent template -->
{% block next_stage %}
    {% with next_stage_is_proceed=initial_screening.is_proceed %}
    {{block.super}}
    {% endwith %}
{% endblock next_stage %}


{% comment %} {% block next_stage_form_action %}{% url 'main:initscreening.update' %}{% endblock next_stage_form_action %} {% endcomment %}

{% block next_stage_submit_name %}initial_screening{% endblock next_stage_submit_name %} <!-- same as post query parameter name -->

{% block next_stage_cur_id %}{{initial_screening.pk}}{% endblock next_stage_cur_id %}

{% block next_stage_rej_title %}Reject{% endblock next_stage_rej_title %}

{% block next_stage_proc_title %}
    {% comment %} {% with initial_screening.is_hm_proceed=False %} <!-- temporary variable for testing --> {% endcomment %}
    {% if initial_screening.is_hm_proceed %}
    Proceed <span class="text-lowercase">to</span> Prescreening
    {% else %}
    Proceed <span class="text-lowercase">for</span> DS Leads Screening
    {% endif %}
    {% comment %} {% endwith %} <!-- end temporary variable --> {% endcomment %}
{% endblock next_stage_proc_title %}

{% block next_stage_url %}{{sidebar.prescreening.url}}{% endblock next_stage_url %}

{% block next_stage_form_action %}
    {% if initial_screening.is_hm_proceed %}{% url 'main:initscreening.update' %}{% else %}{% url 'main:initscreening.hiring.update' %}{% endif %}
{% endblock next_stage_form_action %}


<!-- scripts -->
{% load static %}
{% block import_scripts %}
    <script src="https://code.jquery.com/jquery-3.5.1.js"></script>
    {{block.super}}
    <script src="{% static 'main/js/initscreening.js' %}"></script>
{% endblock import_scripts %}