{% extends 'main/layout/base.html' %} 

{% block tabtitle %}Override this 'tabtitle'{% endblock tabtitle %}

{% block content %}

{% url 'main:initscreening.index.default' as initialscreening_url%} 

<div class="p-3 mt-3">
	<!-- back button & page title & gpt recommendation  -->
	<div class="d-flex justify-content-between align-items-center mb-3">
		<div class="d-flex align-items-center">
			<a
				href="{% url 'main:browse.index' %}"
				role="button"
				class="btn btn-secondary btn-sm me-4"
				style="
                    --bs-btn-border-radius: 10px;
                    {% comment %} --bs-btn-bg: #ffffff; {% endcomment %}
                "
			>
				<i class="fa-solid fa-angle-up fa-rotate-270"></i>
				back
			</a>
			<div class="text-capitalize fw-semibold text-body fs-4">
				{% block page_title %}Override this title{% endblock page_title%}
			</div>
		</div>
		<div class="">
			<div class="text-capitalize fw-medium" style="font-size: 0.8rem">
				<span class="text-uppercase">gpt</span> recommendation
			</div>
			<div
				class="badge bg-success"
				style="--bs-badge-font-size: 0.8rem; width: 100%"
			>
				Recommended
			</div>
		</div>
	</div>

	<!-- candidate profile -->
	<div class="accordion" id="accordionMain">
		<div class="accordion-item">
			<h2 class="accordion-header">
				<button
					class="accordion-button accordion-btn-theme fw-semibold {% if initialscreening_url not in request.path %}collapsed{% endif %}"
					type="button"
					data-bs-toggle="collapse"
					data-bs-target="#candidateSection"
					aria-expanded="{% if initialscreening_url in request.path %}true{% else %}false{% endif %}"
					aria-controls="candidateSection"
				>
					Candidate
				</button>
			</h2>
			<div
                
				id="candidateSection"
				class="accordion-collapse collapse {% if initialscreening_url in request.path %}show{% endif %}"
			>
				<div class="accordion-body">
					candidate profile
				</div>
			</div>
		</div>

        {% block stage_content %}{% endblock stage_content %}

	</div>

	{% block next_stage %}
		{% if next_stage_is_proceed == None %}
			<form action="{% block next_stage_form_action %}#{% endblock next_stage_form_action %}" method="post">
				<div class="d-flex justify-content-end gap-3 p-3 pe-0 align-items-center">
					<input type="hidden" name="{% block next_stage_submit_name %}initial_screening/prescreening/cbi{% endblock next_stage_submit_name %}" value={% block next_stage_cur_id %}{% endblock next_stage_cur_id %}>
					
					<div>
						<!-- both name='proceed' to match with parameter name required by the server -->
						<button name="proceed" id="rejectIS" class="btn btn-danger btn-evaluation text-capitalize" type="submit" value="0">
							{% block next_stage_rej_title %}Override this reject button{% endblock next_stage_rej_title %}
						</button>
					</div>

					<div>
						<button name="proceed" id="proceedIS" class="btn btn-success btn-theme btn-evaluation text-capitalize" type="submit" value="1">
							{% block next_stage_proc_title %}Override this proceed button{% endblock next_stage_proc_title %}
						</button>
					</div>
				</div>
			</form>
		{% else %}
			{% if next_stage_is_proceed == True %}
				<div class="d-flex justify-content-end p-3 pe-0 align-items-center"><!-- next -->
					<a class="btn btn-success btn-theme btn-evaluation text-capitalize" href="{% block next_stage_url %}{% endblock next_stage_url %}">Next</a>
				</div>
			{% endif %}
		{% endif %}

	{% endblock next_stage %}


</div>

{% endblock content %}

{% load static %}

{% block import_scripts %}
{{block.super}}
<script src="{% static 'main/js/components/status_editable_field.js' %}"></script>
{% endblock import_scripts %}