@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');

html body {
    font-family: 'Inter', sans-serif;
    background: #EDF0F4;
}

#sidebar-nav li a {
    font-size: 0.8em !important;
}

#sidebar-nav.nav>li>a:focus, #sidebar-nav.nav>li>a:hover {
    background-color: #f5f5f5;
}

#navbar .nav>li>a:focus, #navbar .nav>li>a:hover {
    background-color: rgba(0, 0, 0, 0.2);
}

#navbar li a {
    font-size: 1em !important;
}

#navbar {
    background: linear-gradient(91deg, #00A19C 52.89%, rgba(0, 161, 156, 0) 99.15%);
}

.badge {
    --bs-badge-font-weight: 600
}

.btn-evaluation {
    --bs-btn-font-size: 0.8em;
    --bs-btn-padding-y: 0.2rem;
        
}

.remarks{
    font-size: 0.8em;
}