@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');

html body {
    font-family: 'Inter', sans-serif;
    background: #EDF0F4;
}

#sidebar-nav li a {
    font-size: 0.8em !important;
}

#sidebar-nav.nav>li>a:focus, #sidebar-nav.nav>li>a:hover {
    background-color: #f5f5f5;
}

#navbar .nav>li>a:focus, #navbar .nav>li>a:hover {
    background-color: rgba(0, 0, 0, 0.2);
}

#navbar li a {
    font-size: 1em !important;
}

#navbar {
    background: linear-gradient(91deg, #00A19C 52.89%, rgba(0, 161, 156, 0) 99.15%);
}

.badge {
    --bs-badge-font-weight: 600
}

.btn-evaluation {
    --bs-btn-font-size: 0.8em;
    --bs-btn-padding-y: 0.2rem;
        
}

.remarks{
    font-size: 0.8em;
    max-width: 40rem;
}

.submission-content-wrapper{
    background: rgba(91, 91, 91, 0.05);
    border-radius: 1.4rem;
    padding: 2rem;
    width: 20rem;
}

.submission-title{
    font-weight: 600;
    margin-bottom: 1rem;
    text-align: center;
    /* font-size: 0.9rem; */
}

.submission-items{
    font-size: 0.8rem;
}

.btn-theme{
    --bs-btn-bg:#00a19c;
    --bs-btn-border-color:#00635B;

}

.accordion-btn-theme{
    /* --bs-accordion-border-color: #00635B; */
    --bs-accordion-active-bg: rgba(0, 161, 156, 0.25);
    --bs-accordion-btn-focus-box-shadow: 0 0 0 0.25rem rgba(0, 161, 156, 0.25);
    --bs-accordion-active-color: #00635B
}

#cbi-schedule-table th{
    font-weight: 600!important;
}

#table-candidates, .table-dropdown, .table-filter, th.sorting{
    font-size: 0.8rem;
}